---
import PublicLayout from '../layouts/PublicLayout.astro';
import TestButton from '../components/vue/TestButton.vue';
---

<PublicLayout>
	<h1>Homepage</h1>
	<TestButton client:load />
</PublicLayout>
